<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allows automated emulator checks to open the installer flow directly. -->
    <application>
        <activity
            android:name=".update.UpdateInstallerActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
